* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    margin: 0 auto;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: #eae8e8;
}

/* navbar starts here */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #b71c1c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.user-bar {
    display: none;
}


.logo>img {
    width: 100%;
    /* margin: 5px; */
    float: left;
    position: relative;
    /* margin-top: 15px; */
}

.srchproduct {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-content: center; */
    align-items: flex-end;
}

.srchproduct>input {
    width: 50vw;
    height: 32.9px;
    margin-top: 8px;
    margin-right: 10px;
    padding: 9px;
    font-size: 14px;
    font-family: poppins;
    border-radius: 4px;
    border: none;
}


.srchproduct>button {
    width: 6%;
    height: 29px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 1px;
    font-size: 14px;
    margin-left: -60px;
    padding: 12px;
}

.srchproduct>button:hover {
    background-color: rgb(232, 230, 230);
}

.navopt {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 8px; */
    color: #ffffff;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 26px;
    float: right;

}

.navopt li {
    list-style: none;
}

.navopt li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 10px;
    transition: all 0.3s ease;
}

.wallet,
.cart {
    margin-right: 10px;

}

.wallet li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 5vw;
    /* margin-left: -130px; */
}

.cart li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.login-signup {
    margin-left: -29px;
}

.login-signup li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 28px;
}

.navopt li a:hover {
    color: rgb(196, 190, 190);
}




.menu-icon {
    margin-top: -10px;
    font-size: 25px;
    margin-top: 10px;
}

.menu-icon a {
    text-decoration: none;
}

.menu-icon>a i {
    color: #fff;
    display: none;
}

.dropdown-navopt {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 170px;
    background: #fff;
    backdrop-filter: blur(15px);
    border-radius: 3px;
    overflow: hidden;
    z-index: 999;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-navopt.open {
    height: 240px;
}

.dropdown-navopt li:hover {
    background: #cfcdcd;
    color: #fff;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

/* .dropdown-navopt li a:hover{
    color: #fff;
} */


.dropdown-navopt li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.dropdown-navopt li a {
    text-decoration: none;
    color: #2c2b2b;
}




nav {
    background: #7a1010;
    position: sticky;
    width: 100%;
    z-index: 990;
    height: 30px;
    line-height: 40px;
}

nav .wrapper {
    /* position: relative; */
    background: #7a1010;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 10px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #f2f2f2;
    color: blue;
}

.nav-links li:hover .mega-box {
    top: 40px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.mega-box {
    position: absolute;
    top: 50px;
    background: #242526;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;

}

.mega-box .content {
    background: #ffffff;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#battery li a {
    color: black;
}

.content .row {
    width: calc(25% - 30px);
    line-height: 30px;
}

.content .row header {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}

.content .row header:hover {
    color: blue;
}

.row .mega-links li a {
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
    text-align: left;
}

.content .row .mega-links {
    margin-left: -40px;
}


.alertbox {
    background-color: #fff176;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alertbox p a {
    color: #070707;
}

.main-img {
    background-color: #ffffff;
    text-align: center;
    height: 280px;
    width: 95%;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.main-img>img {
    width: 95%;
    height: auto;
    align-items: center;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    position: relative;
    top: 10%;
    overflow: hidden;
    text-align: center;
    width: 100vw;
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
}

.slides {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    animation: slide 14s infinite;
}

.slides>img {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 14px;
    /* margin-left: 30px;
    margin-right: 30px; */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    14% {
        transform: translateX(0);
    }

    21% {
        transform: translateX(-100%);
    }

    28% {
        transform: translateX(-100%);
    }

    35% {
        transform: translateX(-200%);
    }

    42% {
        transform: translateX(-200%);
    }

    49% {
        transform: translateX(-300%);
    }

    56% {
        transform: translateX(-300%);
    }

    63% {
        transform: translateX(-400%);
    }

    70% {
        transform: translateX(-400%);
    }

    85% {
        transform: translateX(-500%);
    }

    92% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(-600%);
    }


}

/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
} */


.sale-prod {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #ffffff;
    margin-top: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: flex-start;
}

.card {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    align-content: space-around;
    flex-wrap: wrap;

}

.card img {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-desc h3 {
    font-size: 17px;
}

.card-desc h3 a {
    text-decoration: none;
}

.card-desc h4 {
    font-size: 12px;
}

.card-desc h4 a {
    text-decoration: none;
}

.card-desc p {
    font-size: 16px;
    font-weight: 700;
}

.app-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    margin-top: 20px;
    /* margin-left: 20px;
    margin-right: 20px; */

}

.link-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.input-link>p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #828080;
    font-weight: 500;
}

.input-link>button {
    height: 43px;
    border: none;
    margin-left: -4px;
}

.input-link>button a {
    background: black;
    height: 40.5px;
    width: 60%;
    padding: 10px;
    font-size: 14px;
}

.input-link a {
    text-decoration: none;
    color: #fff;
    height: 7%;
    width: 7%;
}

.input-link input {
    background: #ffffff;
    height: 40px;
    width: 60%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.google-app {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    margin-left: 3px;
}

.google-app img {
    align-content: center;
    margin-left: -4px;
}

.google-app a {
    height: 52px;
    width: 170px;
}

/* footer starts here */

footer {
    width: 100%;
    height: 100%;
    background: #e9e9e9;
}

.company-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    padding: 50px;
    flex-wrap: wrap;
    width: 100%;
}

.company-info li {
    list-style: none;
    margin-bottom: 6px;
}

.footer-content {
    padding: 20px;
    font-size: 14px;
}

.footer-content li a {
    text-decoration: none;
    color: #828080;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-content>p {
    color: #686767;
    font-weight: 900;
    margin-bottom: 18px;
}

.connect-us {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 10px;
    flex-wrap: wrap;

}

.connect-us>.social>.download {
    color: #fe0202;
    font-size: 17px;
}

.connect-us>.social>.connect {
    font-size: 18px;
    font-weight: 600;
    color: #585757;
    margin-top: 15px;
}

.connect-us>.social>.social-links i {
    margin-right: 25px;
    margin-top: 10px;
}


.connect-us>.subscribe {
    width: 45%;
}

.connect-us>.subscribe h2 {
    font-size: 17px;
    color: #585757;
    margin-bottom: 20px;
}

.connect-us>.subscribe>input {
    background: #ffffff;
    height: 40px;
    width: 45%;
    border-radius: 4px;
    padding: 8px;
    border: none;
}

.connect-us>.subscribe button {
    background: #ae1b1b;
    font-size: 15px;
    margin-left: -3px;
    font-weight: 500;
    height: 40px;
    width: 45%;
    border-radius: 4px;
    border: none;
    padding: 8px;
}

.connect-us>.subscribe button a {
    color: #ffffff;
    text-decoration: none;
}

.connect-us>.subscribe>p {
    margin-top: 17px;
}

.connect-us>.contact>h2 {
    font-size: 17px;
    color: #585757;
    margin-bottom: 10px;
}

.connect-us>.contact>p i {
    margin: 10px;
    font-size: 17px;
}

#email {
    text-decoration: none;
    color: black;
}

.payment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.payment>h2 {
    font-size: 16px;
}

.energy,
.electricals,
.livguard {
    text-transform: capitalize;
}

.energy a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.product-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.product-category>h2 {
    color: #525151;
    font-size: 18px;
}

.energy {
    margin-top: 10px;
}

.energy>h2 {
    font-size: 14px;
    color: #525151;

}

.livguard>h2 {
    font-size: 14px;
    color: #525151;
}

.livguard a {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.electricals h2 {
    font-size: 14px;
    color: #525151;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-brands h2 {
    font-size: 14px;
    color: #525151;
    margin-top: 10px;
}

.top-brands a {
    font-size: 13px;
    text-decoration: none;
    color: black;
}


.about-us {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.about-us h2 {
    font-size: 16px;
    color: #525151;
    margin-top: 10px;
    margin-bottom: 8px;
}

.about-us p {
    font-size: 13px;
}

@media screen and (max-width:900px) {
    .navopt {
        display: none;
    }

    .srchproduct>input {
        width: 50vw;
        height: 32.9px;
        margin-top: 8px;
        margin-right: 31px;
        padding: 9px;
        font-size: 1.9vw;
        font-family: poppins;
        border-radius: 4px;
        border: none;
    }

    .menu-icon {
        /* margin-top: -10px; */
        font-size: 25px;
        float: right;
        margin-left: 37px;
        padding: 10px;
        /* margin-top: 10px; */
    }

    .menu-icon>a i {
        color: #fff;
        display: block;
    }

    .dropdown-navopt {
        display: block;
    }

    .alertbox {
        background-color: #fff176;
        font-size: 12px;
        font-weight: 600;
        width: 100%;
        height: 60px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5px;
    }

    .sale-prod {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: #ffffff;
        margin-top: 10px;
    }

    .sale-prod h2 {
        font-size: 4.9vw;
    }

    .cards {
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .card {
        padding: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;

    }

    .card img {
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-desc h3 {
        font-size: 12px;
    }

    .card-desc h3 a {
        text-decoration: none;
    }

    .card-desc h4 {
        font-size: 10px;
    }

    .card-desc h4 a {
        text-decoration: none;
    }

    .card-desc p {
        font-size: 12px;
        font-weight: 700;
    }

    .app-desc {
        display: none;
    }

    .company-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
    }

    .connect-us {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .social,
    .subscribe,
    .contact {
        margin-bottom: 50px;
    }

    .connect-us>.subscribe button a {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .subscribe {
        font-size: 12px;
    }

    .contact {
        font-size: 12px;
    }

    .contact .cont-tag {
        font-size: 12px;
    }

    .payment {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .payment img {
        width: 100%;
        padding: 10px;
    }

    .payment>h2 {
        font-size: 12px;
    }

    .subscribe h2 {
        font-size: 13px;
    }

    .product-category {
        display: none;
    }

}

@media screen and (max-width:430px) {
    nav {
        display: none;
    }

    .alertbox p {
        font-size: 2.9vw;
        margin: 10px;
    }

    .dropdown-navopt{
        left: 2rem;
            width: unset;
    }
}

@media screen and (max-width:320px) {
    .logo>img {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .menu-icon a i {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .srchproduct {
        display: flex;
        width: 150%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

    }

    .srchproduct>input {
        width: 67vw;
        height: 32.9px;
        margin-top: 8px;
        margin-right: 10px;
        padding: 9px;
        font-size: 1.9vw;
        font-family: poppins;
        border-radius: 4px;
        border: none;
    }


}